<h3>Suggested Activities</h3>


<ul>
  <% @gathering.activities.each do |activity| %>
    <li><%= activity.description %> (<%= activity.activity_category.label %>) <%= render partial: 'delete_button', locals:{ object: activity} %> </li>
    <%= render partial: '/votes/form', locals:{votable:activity,gathering:@gathering} %>
  <% end %>
</ul>
