

  <h4>Add a comment</h4>

  <%= form_for [@gathering, @comment] do |f| %>

    <%= f.text_area :content, placeholder: 'Your comment here...' %>
    <br>
    <%= f.submit 'Add comment' %>

  <% end %>
