  <!-- <h4>Add a comment</h4> -->
  <%= form_for([@gathering, @comment], remote: true) do |f| %>
    <%= f.text_area :content, placeholder: 'Your comment here...' %>

  <%= f.submit 'Comment', class:"btn btn-default btn-xs" %>

<% end %>
