<script id="finalized-template" type="text/x-jsrender">
  <div class="row finalize-plan-row">
    <div class="col-md-10">
      <div class="title-box panel final-plan-panel">

        <div class="panel-heading final-plan-heading">
          <div class="title-container final" id="gathering-title-container">
            <h4>The Plan:</h4>
          </div>
        </div>

        <div class="panel-body final-plan-body">
          <p>
            The gathering has been finalized.<br>
            <strong>Place: </strong>{{:place}}<br>
            <strong>Time: </strong>{{:moment}}<br>
            <strong>Activity: </strong>{{:activity}} ({{:activity_category.label}})
          </p>
        </div>
      </div>
    </div>
  </div>
</script>
