<script id="finalized-template" type="text/x-jsrender">
<h6 class="popular-suggestions-title">The final plan is</h6>
<h5 class="popular-suggestions">
  {{if activity}}
    <a href="#activities-section">{{:activity}}</a><%# @gathering.finalized_plan.activity.description.try(:capitalize)%>
  {{/if}}
  {{if moment}}
    {{if activity }}on{{/if}}
    <a href="#moments-section"> {{:moment}}</a><%# @gathering.finalized_plan.moment.time ? render_time(@gathering.finalized_plan.moment.time): "" %>
  {{/if}}
  {{if place}}
    <%# "at" if (@gathering.finalized_plan.moment || @gathering.finalized_plan.activity) %>
    {{if moment || activity }}at{{/if}}
    <a href="#places-section">{{:place}}</a><%# @gathering.finalized_plan.place.name %>
  {{/if}}
</script>
