<li class="moment-box panel panel-solid-primary" id="moment-<%= moment.id %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= moment.time.strftime('%A, %B %e %Y at %I:%M %P') %></h3>
    <div class="actions pull-right">
      <i class="fa fa-chevron-down"></i>
      <i class="fa fa-times"></i>
    </div>
  </div>
   <%= button_to "X", gathering_moment_path(@gathering, moment), method: :delete, remote: true %>
  <%= render partial: '/votes/form', locals:{ votable: moment, gathering: @gathering } %>
</li>
