<div id="moment-box-<%= moment.id %> ">
  <li><%= moment.time.strftime('%A, %B %e %Y at %I:%M %P') %> <%= render partial: 'delete_button', locals:{ object: moment} %> </li>
  <%= render partial: '/votes/form', locals:{ votable: moment, gathering: @gathering } %>
</div>
