<li class="moment-box panel panel-solid-primary" id="moment-<%= moment.id %>">
  <%= moment.time.strftime('%A, %B %e %Y at %I:%M %P') %> <%= button_to "X", gathering_moment_path(@gathering, moment), method: :delete, remote: true %>
  <%= render partial: '/votes/form', locals:{ votable: moment, gathering: @gathering } %>
</li>
