<div class="moment-box" id="<%= moment.id %>">
  <li><%= moment.time.strftime('%A, %B %e %Y at %I:%M %P') %> <%= render partial: 'gatherings/delete_button', locals:{ object: moment} %> </li>
  <%= render partial: '/votes/form', locals:{ votable: moment, gathering: @gathering } %>
</div>
