<div class="moment-box" id="moment-<%= moment.id %>">
  <li><%= moment.time.strftime('%A, %B %e %Y at %I:%M %P') %> <%= button_to "X", gathering_moment_path(@gathering, moment), method: :delete, remote: true %> </li>
  <%= render partial: '/votes/form', locals:{ votable: moment, gathering: @gathering } %>
</div>
