
<div class="row" style="margin-bottom:2em">
    <div class="col-md-12">

  <div class="btn btn-xl btn-default btn-lg">
    <%= link_to 'New Gathering', new_gathering_path %>
  </div>

    </div>
</div>

<div class="row">

  <div class="col-md-12">

    <h1>My Gatherings</h1>

    <div class="col-md-6 index-col">
      <h2>Initiated</h2>
          <% @own_gatherings.each do |gathering| %>
            <%= render partial:"gatherings/index/gathering", locals:{gathering:gathering} %>
          <% end %>
    </div>

    <div class="col-md-6 index-col">

      <h2>Invited</h2>
          <% @invited_gatherings.each do |gathering| %>
              <%= render partial:"gatherings/index/gathering", locals:{gathering:gathering} %>
          <% end %>
    </div>


</div>
</div>
