<h2 class="your-gatherings-title">Your Gatherings</h2>

<div class="row" id="outer-dashboard">
  <div class="container col-md-12" id="dashboard-col">
    <div class="panel" id="dashboard-panel">
      <div class="panel-body" id="dashboard-panel-body">
        <div class="col-md-6 index-col" id="votable-dashboard">
          <h2 class="index-labels">Initiated</h2>
          <br/>
              <% @own_gatherings.each do |gathering| %>
                <%= render partial:"gatherings/index/gathering", locals:{gathering:gathering} %>
              <% end %>
        </div>

        <div class="col-md-6 index-col" id="votable-dashboard">

          <h2 class="index-labels">Invited</h2>
          <br/>
              <% @invited_gatherings.each do |gathering| %>
                  <%= render partial:"gatherings/index/gathering", locals:{gathering:gathering} %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
