$('.finalize-plan-row').fadeOut();
$('#votable-dashboard, #forms-panel-body').removeClass('gathering-finalized');
$('#unstaging-button').replaceWith("<button type='button' id='staging-button' class='btn btn-primary btn-md'>Let's do it</button>");
//button_to
