$('.finalize-plan-row').fadeOut();
$('#votable-dashboard, #forms-panel-body').removeClass('gathering-finalized');
$('#unstagingButton').replaceWith("<button type='button' id='staging-button' class='btn btn-primary btn-md'>Change of Plans</button>");
//button_to
