<!-- will remove outer container when weird col div is removed -->
<div class="container">
  <div class="home col-md-12">
    <div class="jumbotron">
      <h1>Do something.</h1>
      <p>A social gathering planner for slackers.</p>
    </div>

  </div>

</div>
