<div class="row gathering-row">
  <%= render partial:"gatherings/index/remove_gathering", locals:{gathering:gathering} %>
  <%= link_to gathering.title, gathering %>
  <%= gathering.aasm_state.capitalize %>
</div>
