<%= form_for [@gathering, @moment], remote: true do |f| %>
  <%= f.label :time, class: 'hidden' %>
  <%= f.datetime_local_field :time %>
  <%= f.submit 'Add a time', class: 'btn' %>
<% end %>

<a href="#" class="btn cancel-button" role="button" aria-expanded="true" aria-controls="activities-form-container">Cancel</a>