<li class="place-box" id="place-<%= place.id %>">
  <%= place.name %> <%= button_to "X", gathering_place_path(@gathering, place), method: :delete, remote: true %>
  <%= render partial: '/votes/form', locals:{ votable: place, gathering: @gathering } %>
</li>

